In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mutual_info_score, accuracy_score, mean_squared_error
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
bank_full_df = pd.read_csv('bank-full.csv',sep=';')
bank_full_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [3]:
bank_full_df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [4]:
selected_features = ['age', 'job', 'marital', 'education', 'balance', 'housing', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 
                     'previous', 'poutcome', 'y']

In [5]:
selected_features

['age',
 'job',
 'marital',
 'education',
 'balance',
 'housing',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [6]:
bank_full_df[selected_features].isnull().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [7]:
bank_full_df.education.describe()

count         45211
unique            4
top       secondary
freq          23202
Name: education, dtype: object

In [8]:
bank_full_df.y.describe()

count     45211
unique        2
top          no
freq      39922
Name: y, dtype: object

In [9]:
bank_full_df.education.mode()

0    secondary
Name: education, dtype: object

# Ansswer for question 1 "What is the most frequent observation (mode) for the column education?" is secondary

In [10]:
df_full = bank_full_df[selected_features]

In [11]:
## Lets get numerical features from the given set of feature
numerical = df_full.select_dtypes(include = 'int64').columns
numerical

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object')

In [12]:
df_full[numerical]

       age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261         1     -1         0
1       44       29    5       151         1     -1         0
2       33        2    5        76         1     -1         0
3       47     1506    5        92         1     -1         0
4       33        1    5       198         1     -1         0
...    ...      ...  ...       ...       ...    ...       ...
45206   51      825   17       977         3     -1         0
45207   71     1729   17       456         2     -1         0
45208   72     5715   17      1127         5    184         3
45209   57      668   17       508         4     -1         0
45210   37     2971   17       361         2    188        11

[45211 rows x 7 columns]

In [13]:
df_corr = df_full[numerical].corr()
df_corr

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000

Answer for question "What are the two features that have the biggest correlation?" is pdays  & previous

In [14]:
df_full.y = (df_full.y == 'yes').astype(int)

C:\Users\Bhaskar1\AppData\Local\Temp\ipykernel_15204\2325281576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full.y = (df_full.y == 'yes').astype(int)

In [15]:
df_full

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,825,no,cellular,17,nov,977,3,-1,0,unknown,1
45207,71,retired,divorced,primary,1729,no,cellular,17,nov,456,2,-1,0,unknown,1
45208,72,retired,married,secondary,5715,no,cellular,17,nov,1127,5,184,3,success,1
45209,57,blue-collar,married,secondary,668,no,telephone,17,nov,508,4,-1,0,unknown,0
45210,37,entrepreneur,married,secondary,2971,no,cellular,17,nov,361,2,188,11,other,0

In [16]:
df_full_train, df_test = train_test_split(df_full, test_size = 0.2, random_state = 42)
df_train, df_val = train_test_split(df_full_train, test_size = 0.25, random_state = 42)

len(df_train), len(df_test), len(df_val)
df_full_train

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
3344,41,blue-collar,married,primary,849,yes,unknown,15,may,72,1,-1,0,unknown,0
17965,49,technician,married,primary,1415,yes,cellular,30,jul,269,2,-1,0,unknown,0
18299,42,admin.,married,secondary,3842,no,cellular,31,jul,130,4,-1,0,unknown,0
10221,37,management,single,tertiary,-119,yes,unknown,11,jun,375,11,-1,0,unknown,0
32192,56,blue-collar,married,primary,3498,no,cellular,15,apr,264,2,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,44,housemaid,single,primary,1059,no,unknown,18,jun,2093,1,-1,0,unknown,1
44732,23,student,single,tertiary,508,no,cellular,8,sep,210,1,92,1,failure,0
38158,34,technician,divorced,tertiary,1317,yes,cellular,15,may,239,1,-1,0,unknown,0
860,33,retired,married,secondary,165,no,unknown,7,may,111,1,-1,0,unknown,0
15795,38,blue-collar,married,primary,-41,yes,cellular,21,jul,68,10,-1,0,unknown,0

In [17]:
df_test.y == 1

3776     False
9928     False
33409    False
31885    False
15738    False
         ...
13353    False
38732     True
5654     False
3779     False
11677    False
Name: y, Length: 9043, dtype: bool

In [18]:
df_test.reset_index(drop=True)
df_train.reset_index(drop=True)
df_val.reset_index(drop=True)

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,38,services,divorced,secondary,-10,yes,unknown,17,jun,61,2,-1,0,unknown,0
1,42,management,single,tertiary,1146,yes,unknown,15,may,98,2,-1,0,unknown,0
2,43,management,married,tertiary,149,yes,unknown,23,jun,662,2,-1,0,unknown,1
3,50,management,married,tertiary,8205,yes,telephone,25,oct,293,3,508,1,other,0
4,43,management,married,tertiary,79,no,cellular,26,may,640,1,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9037,47,technician,married,secondary,356,no,cellular,29,jul,44,5,-1,0,unknown,0
9038,32,admin.,married,secondary,1604,no,cellular,7,jul,625,1,-1,0,unknown,1
9039,45,admin.,married,secondary,857,yes,cellular,21,nov,169,1,92,20,other,0
9040,40,admin.,married,secondary,153,yes,unknown,14,may,159,2,-1,0,unknown,0
9041,45,self-employed,married,secondary,7,no,cellular,20,nov,691,1,-1,0,unknown,1

In [19]:
y_train = df_train.y
y_test = df_test.y
y_val = df_val.y

len(df_train), len(df_test), len(df_val)

(27126, 9043, 9042)

In [20]:
del df_train['y']
del df_test['y']
del df_val['y']

In [21]:
# Get the list of all categorical variables
categorical = df_train.select_dtypes(include=['object']).columns
categorical

Index(['job', 'marital', 'education', 'housing', 'contact', 'month',
       'poutcome'],
      dtype='object')

In [22]:
def mutual_info_y_score(series):
    return mutual_info_score(series, df_full_train.y)

In [23]:
mutual_info = df_full_train[categorical].apply(mutual_info_y_score)
mi_score = mutual_info.sort_values(ascending=False).to_frame(name="MI_SCORE")
np.round(mi_score, 2)

           MI_SCORE
poutcome       0.03
month          0.02
contact        0.01
housing        0.01
job            0.01
education      0.00
marital        0.00

In [24]:
categorical = ['job', 'marital', 'education', 'housing', 'contact', 'month', 'poutcome']
numerical = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
categorical + numerical

['job',
 'marital',
 'education',
 'housing',
 'contact',
 'month',
 'poutcome',
 'age',
 'balance',
 'day',
 'duration',
 'campaign',
 'pdays',
 'previous']

Answer for question 3 "Which of these variables has the biggest mutual information score?" is poutcome

Encode categorical variables using one hot encoding

In [25]:
X_train_numerical = df_train[numerical].values
scaler = StandardScaler()
X_train_numerical = scaler.fit_transform(X_train_numerical)

In [26]:
df_train[numerical].age.values

array([32, 38, 49, ..., 54, 25, 30], dtype=int64)

In [27]:
X_train_numerical[:,0]

array([-0.84372128, -0.27750172,  0.76056748, ...,  1.23241711,
       -1.50431076, -1.03246113])

In [28]:
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

In [29]:
X_train_categorical = df_train[categorical].values
X_train_categorical = ohe.fit_transform(X_train_categorical)
ohe.get_feature_names_out()

array(['x0_admin.', 'x0_blue-collar', 'x0_entrepreneur', 'x0_housemaid',
       'x0_management', 'x0_retired', 'x0_self-employed', 'x0_services',
       'x0_student', 'x0_technician', 'x0_unemployed', 'x0_unknown',
       'x1_divorced', 'x1_married', 'x1_single', 'x2_primary',
       'x2_secondary', 'x2_tertiary', 'x2_unknown', 'x3_no', 'x3_yes',
       'x4_cellular', 'x4_telephone', 'x4_unknown', 'x5_apr', 'x5_aug',
       'x5_dec', 'x5_feb', 'x5_jan', 'x5_jul', 'x5_jun', 'x5_mar',
       'x5_may', 'x5_nov', 'x5_oct', 'x5_sep', 'x6_failure', 'x6_other',
       'x6_success', 'x6_unknown'], dtype=object)

In [30]:
X_train = np.column_stack([X_train_numerical, X_train_categorical])

In [31]:
# dv = DictVectorizer(sparse=False)
# train_dict = df_train[categorical + numerical].to_dict(orient='records')
# X_train = dv.fit_transform(train_dict)

# val_dict = df_val[categorical + numerical].to_dict(orient='records')
# X_val =  dv.fit_transform(val_dict)

In [32]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [34]:
X_val_numerical = scaler.fit_transform(df_val[numerical].values)
X_val_categorical = ohe.fit_transform(df_val[categorical].values)
X_val = np.column_stack([X_val_categorical, X_val_numerical])

In [35]:
y_pred = model.predict_proba(X_val)[:,1]
y_pred

array([0.09895647, 0.06978776, 0.01216177, ..., 0.00019528, 0.0453194 ,
       0.06275121])

In [41]:
accuracy = (y_val == (y_pred >= 0.5)).mean()
np.round(accuracy,2)

0.78

In [42]:
y_pred = model.predict(X_val)
accuracy = np.round(accuracy_score(y_val, y_pred),2)
print(f'Accuracy : {accuracy}')

Accuracy : 0.78

Question 4, accuracy value is 0.8

Feature elimination

In [44]:
all_features = numerical + categorical
all_features
type(all_features)

list

In [47]:
'age' in numerical

True

In [ ]:
y_train

In [52]:
actual_acc = accuracy
scores_df = pd.DataFrame(columns = ['removed_feature','accuracy_score', 'difference'])
index = 0
for feature in all_features:
    partial_num = numerical.copy()
    partial_cat = categorical.copy()
    if (feature in numerical):
        partial_num.remove(feature)
    else :
        partial_cat.remove(feature)
    
    # dv = DictVectorizer(sparse=False)
    # train_dict = df_train[partial_features].to_dict(orient='records')
    # X_train = dv.fit_transform(train_dict)

    scaler = StandardScaler()
    X_train_numerical = scaler.fit_transform(df_train[partial_num].values)

    ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
    X_train_categorical = ohe.fit_transform(df_train[partial_cat].values)
    X_train = np.column_stack([X_train_categorical, X_train_numerical])

    model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    # dict_val = df_val[partial_features].to_dict(orient='records')
    # X_val = dv.transform(dict_val)

    X_val_numerical = scaler.fit_transform(df_val[partial_num].values)
    X_val_categorical = ohe.fit_transform(df_val[partial_cat].values)
    X_val = np.column_stack([X_val_numerical, X_val_categorical])

    y_pred = model.predict(X_val)
    acc_score = accuracy_score(y_pred, y_val)

    scores_df.loc[index] = [feature, acc_score, actual_acc - acc_score]
    index += 1

# for feature in categorical:
#     partial_features = numerical.copy()
#     partial_features.remove(feature)

#     ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
#     X_train_cate

In [53]:
scores_df

   removed_feature  accuracy_score  difference
0              age        0.620991    0.159009
1          balance        0.620438    0.159562
2              day        0.628290    0.151710
3         duration        0.617562    0.162438
4         campaign        0.628180    0.151820
5            pdays        0.628733    0.151267
6         previous        0.632603    0.147397
7              job        0.859213   -0.079213
8          marital        0.851582   -0.071582
9        education        0.845609   -0.065609
10         housing        0.829573   -0.049573
11         contact        0.799934   -0.019934
12           month        0.766645    0.013355
13        poutcome        0.845388   -0.065388

In [55]:
min = scores_df.difference.min()
min

-0.07921256359212558

In [56]:
scores_df[scores_df.difference == min]

  removed_feature  accuracy_score  difference
7             job        0.859213   -0.079213

Answer for question 5 is job.

Train the model using regularized logistic regression

In [ ]:
y_val

In [58]:
# dv = DictVectorizer(sparse=False)
# train_dict = df_train[all_features].to_dict(orient='records')
# X_train = dv.fit_transform(train_dict)

# val_dict = df_val[all_features].to_dict(orient='records')
# X_val =  dv.fit_transform(val_dict)

# len(X_train), len(X_val)
scaler = StandardScaler()
X_train_num = scaler.fit_transform(df_train[numerical].values)
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_cat = ohe.fit_transform(df_train[categorical].values)
X_train = np.column_stack([X_train_cat, X_train_num])

X_val_numerical = scaler.fit_transform(df_val[numerical].values)
X_val_categorical = ohe.fit_transform(df_val[categorical].values)
X_val = np.column_stack([X_val_numerical, X_val_categorical])
len(X_train), len(X_val)

(27126, 9042)

In [63]:

for reg_value in [0.01, 0.1, 1, 10, 100]:
    model = Ridge(alpha=reg_value, solver='sag', max_iter=1000, random_state=42)
    model.fit(X_train,y_train)

    y_pred = model.predict(X_val)
    # print(y_pred)
    accuracy = (y_val == (y_pred >= 0.5)).mean()
    acc_score = np.round(accuracy,3)

    print(f' Alpha : {reg_value}, Accuracy Score : {acc_score}')

 Alpha : 0.01, Accuracy Score : 0.871
 Alpha : 0.1, Accuracy Score : 0.871
 Alpha : 1, Accuracy Score : 0.871
 Alpha : 10, Accuracy Score : 0.871
 Alpha : 100, Accuracy Score : 0.876

Which of these C leads to the best accuracy on the validation set? -- Answer 100